/* Keep results boxes all the same height when they are 3-across */
@media only screen and (min-width: 64.063em) {
	.results-list {
    	height: 15em;
    	overflow-y: auto;
	}

  .top-bar .name h1 a {
    padding: 0;
  }
}

@media only screen and (max-width: 64.063em) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding-left: 9px;
  }
}

.name img {
  max-height: 50px;
}

/* iOS Safari zooms on search box focus without this */
input[type="search"] {
  font-size: 1rem;
}

.top-bar .has-dropdown > a {
  text-transform: uppercase;
  font-weight: bold;
}

.search-bar {
  background-color: #ad4200;
  margin-bottom: 1em;
  border-radius: 0em;
}

input.search-terms {
border-radius: .3em 0em 0em .3em;
}

input.button.postfix
{
border-radius: 0em .3em .3em 0em;
}

div.extra-info {
  height: 2em;
  background-color: #2571a1;
  color: #fff;
  border-radius: 0em;
  margin-bottom: 3px;
}

div.extra-info ul {
  line-height: 2em;
}

div.extra-info ul li a {
  color: #fff;
}

.extra-info .hours ul li:last-child a {
  position:relative;
  padding-left:1.5em;
}

.extra-info img {
  max-height: 1.5em;
  position: absolute;
  left: 0;
  top: 0.25em;
}

.footer {
  border-top: 1px #ccc solid;
}

/* adjust height and borders of menu dropdowns */
.dropdown li:not(.has-form) a:not(.button) {
  line-height: 40px;
}

.top-bar-section .dropdown {
  border: 1px solid #DDDCDC;
}
.top-bar-section .divider, .top-bar-section [role="separator"] {
  border-bottom: 1px solid #DDDCDC;
  border-top: 1px solid transparent;
}

/* add padding to right of results icons */
.results-row svg {
  margin-right: .25em;
}

a.all-results:hover {
  color: white;
}
