/* Keep results boxes all the same height when they are 3-across */
@media only screen and (min-width: 40.063em) {
	.results-list {
    	height: 15em;
    	overflow-y: auto;
	}

  .top-bar .name h1 a {
    padding: 0;
  }
}

@media only screen and (max-width: 64.063em) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding-left: 9px;
  }
}

.name img {
  max-height: 50px;
}

/* iOS Safari zooms on search box focus without this */
input[type="search"] {
  font-size: 1rem;
}

.top-bar .has-dropdown > a {
  text-transform: uppercase;
  font-weight: bold;
}

.search-bar {
  background-color: #f26d04;
  margin-bottom: 1em;
}

input.search-terms {
  border-radius: .3em 0 0 .3em;
}

input.button.postfix
{
  border-radius: 0 .3em .3em 0;
}

div.extra-info {
  height: 2em;
  background-color: #052049;
  color: #fff;
  margin-bottom: 3px;
}

div.extra-info ul {
  line-height: 2em;
}

div.extra-info ul li a {
  color: #fff;
}

.extra-info .hours ul li:last-child a {
  position:relative;
  padding-left:1.5em;
}

.extra-info img {
  max-height: 1.5em;
  max-width: 1.5em;
  position: absolute;
  left: 0;
  top: 0.25em;
}

.footer {
  border-top: 1px #ccc solid;
}

.footer .inline-list {
  margin-top: 1rem;
}

/* adjust height and borders of menu dropdowns */
.dropdown li:not(.has-form) a:not(.button) {
  line-height: 40px;
}

.top-bar-section .dropdown {
  border: 1px solid #DDDCDC;
}
.top-bar-section .divider, .top-bar-section [role="separator"] {
  border-bottom: 1px solid #DDDCDC;
  border-top: 1px solid transparent;
}

/* add padding to right of results icons */
.results-row svg {
  margin-right: .25em;
}

a.results-button:hover, a.results-button:focus,
a.results-button-nohide:hover, a.results-button-nohide:focus {
  color: white;
}

/* Fix button-label colors */
.label, .button.postfix {
  background-color: #052049;
}

/* capitalize results from sfx */
#sfx {
  text-transform:capitalize;
}

/* footer feedback */
#feedback-link {
   background-color: #007cbe ;
   color: #fff;
   padding: 0px 8px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   
}

#feedback-link:hover {
    cursor:pointer;
    background-color:#052429 ;
}

/* OMG hover state for buttons */
.button:hover, .results-button:hover, .results-button-nohide:hover {
  background-color: #007cbe;
}

/* did-you-mean box border color */
.alert-box.info {
  border-color: #9ba6b6;
}

/* UCSF Banner begins */

body {
   background: #fff;
   padding: 0;
   margin: 0;
        }

#ucsf-banner-nav {
  height: 40px;
  overflow: hidden;
  font-family: "Helvetica Neue", "arial", sans-serif;
  background: #052049; }
  #ucsf-banner-nav.no-logo .top-header-container ul.menu li.first {
    background: none;
    text-indent: 0%;
    padding-left: 0;
  }

  /* line 4, /Users/richardbaker/git_repos/shoestring/src/assets/sass/ucsf/components/banner */
  #ucsf-banner-nav .top-header-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1230px; }
    /* line 9, /Users/richardbaker/git_repos/shoestring/src/assets/sass/ucsf/components/banner */
    #ucsf-banner-nav .top-header-container ul.menu {
      padding: 0;
      margin: 0; }
      /* line 12, /Users/richardbaker/git_repos/shoestring/src/assets/sass/ucsf/components/banner */
      #ucsf-banner-nav .top-header-container ul.menu li.first {
        display: inline-block;
        float: left;
        padding: 12px 0px 12px 58px;
        background: url("ucsf-logo-banner.png") no-repeat;
        background-position: 0 35%;
        background-position-x: 0;
        background-position-y: 35%; }
        @media (max-width: 600px) {
          #ucsf-banner-nav .top-header-container ul.menu li.first {
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden; } }
      /* line 26, /Users/richardbaker/git_repos/shoestring/src/assets/sass/ucsf/components/banner */
      #ucsf-banner-nav .top-header-container ul.menu li {
        display: inline-block;
        float: right;
        font-size: 14px;
        padding: 12px 10px 12px; }
        @media (max-width: 830px) {
          #ucsf-banner-nav .top-header-container ul.menu li {
            display: none; } }
        @media (max-width: 600px) {
          #ucsf-banner-nav .top-header-container ul.menu li {
            display: none; } }
        /* line 37, /Users/richardbaker/git_repos/shoestring/src/assets/sass/ucsf/components/banner */
        #ucsf-banner-nav .top-header-container ul.menu li a {
          text-decoration: none;
          color: #fff; }
        #ucsf-banner-nav .top-header-container ul.menu li a:hover {
          text-decoration: underline;}

/* Colors */

#ucsf-banner-nav.arial {
    font-family: arial,sans-serif;
}

/* Custom Color added by UCSF Library */

#ucsf-banner-nav.bluetint {
    background: #506380;
}

/* UCSF Banner ends */

/* Springshare widget overrides */
.results-list ul {
  list-style: decimal;
}
