<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300,400italic,400,700italic,700" />
  <meta charset="utf-8" />
  <title>UCSF Library Search</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/tweaks.css" />
  <script src="js/vendor/modernizr.js"></script>
</head>

<body>
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="//library.ucsf.edu/" title="UCSF Library"><img src="http://library.ucsf.edu/sites/all/themes/ucsf_theme/logo.svg?" onerror="this.src='http://library.ucsf.edu/sites/all/themes/ucsf_theme/logo.png?'" alt="UCSF Library" /></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="//library.ucsf.edu/find">Search &amp; Find</a>
            <ul class="dropdown">
              <li class="divider"><a href="https://ucsf.idm.oclc.org/login?url=http://www.ncbi.nlm.nih.gov/pubmed?tool=cdl&amp;otool=cdlotool">PubMed.ucsf.edu</a></li>
              <li class="divider"><a href="//library.ucsf.edu/collections/journals">Journals</a></li>
              <li class="divider"><a href="//library.ucsf.edu/db">Databases</a></li>
              <li class="divider"><a href="http://guides.ucsf.edu/">Guides by Topic</a></li>
              <li class="divider"><a href="http://ucsfcat.library.ucsf.edu/">UCSF Library Catalog</a></li>
              <li class="divider"><a href="https://ucsf.idm.oclc.org/login?url=http://ucsf.worldcat.org/">UC-wide Catalog (Melvyl)</a></li>
              <li class="divider"><a href="//library.ucsf.edu/collections/reserves">Course Reserves</a></li>
              <li class="divider"><a href="//library.ucsf.edu/collections/archives">Archives &amp; Online Collections</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="//library.ucsf.edu/use">Use the Library</a>
            <ul class="dropdown">
              <li class="divider"><a href="//library.ucsf.edu/services/spaces">Study Spaces</a></li>
              <li class="divider"><a href="//library.ucsf.edu/services/computing">Computers, Equipment, Help</a></li>
              <li class="divider"><a href="//library.ucsf.edu/services/borrowing">Borrow, Renew, Request</a></li>
              <li class="divider"><a href="//library.ucsf.edu/print-scan-copy">Print, Scan, Copy</a></li>
              <li class="divider"><a href="//library.ucsf.edu/services/browsertools">Off-Campus Access</a></li>
              <li class="divider"><a href="//library.ucsf.edu/visit/parnassus">Parnassus location</a></li>
              <li class="divider"><a href="//library.ucsf.edu/visit/missionbay">Mission Bay location</a></li>
              <li class="divider"><a href="//library.ucsf.edu/visit/missionhall">Mission Bay Hub location</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="//library.ucsf.edu/research">Research Support</a>
            <ul class="dropdown">
              <li class="divider"><a href="//library.ucsf.edu/services/scholpub">Open Access &amp; Publishing</a></li>
              <li class="divider"><a href="//library.ucsf.edu/help/citemgmt">Citation Management</a></li>
              <li class="divider"><a href="//library.ucsf.edu/bioinformatics">Bioinformatics Support</a></li>
              <li class="divider"><a href="//library.ucsf.edu/data-management">Data Management</a></li>
              <li class="divider"><a href="//library.ucsf.edu/help/classes">Classes &amp; Workshops</a></li>
              <li class="divider"><a href="//library.ucsf.edu/help/consulting">Meet with an Expert</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="//library.ucsf.edu/course">Course Support</a>
            <ul class="dropdown">
              <li class="divider"><a href="https://courses.ucsf.edu/">CLE</a></li>
              <li class="divider"><a href="//library.ucsf.edu/help/classes">Classes &amp; Workshops</a></li>
              <li class="divider"><a href="//library.ucsf.edu/help/consulting">Meet with an Expert</a></li>
              <li class="divider"><a href="//library.ucsf.edu/collections/reserves">Course Reserves</a></li>
              <li class="divider"><a href="//library.ucsf.edu/services/learningtech">Learning Technologies</a></li>
              <li class="divider"><a href="//library.ucsf.edu/faculty">Support for Faculty</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="clearfix"></div>

  <div class="row extra-info">
    <div class="large-9 medium-8 small-4 columns hours left" id="header-hours">
      <ul class="inline-list">
        <li>
          <a href="//library.ucsf.edu/locations/hours">
            <img src="/img/hours_clock.svg" alt="">
            <span class="show-for-medium-up">&nbsp;More&nbsp;Hours</span>
            <span class="hide-for-medium-up">&nbsp;Hours</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="large-3 medium-4 small-8 columns">
      <ul class="inline-list right">
        <li><a href="//library.ucsf.edu/services/spaces">Study Spaces</a></li>
        <li><a href="//library.ucsf.edu/askus">Ask Us</a></li>
      </ul>
    </div>
  </div>

  <div class="row has-form search-bar">
    <div class="large-12 columns">
      <form class="search-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="search" title="Search terms" class="search-terms" placeholder="Find articles, journals, books and more" autofocus>
          </div>
          <div class="large-4 small-3 columns">
            <input type="submit" class="button postfix" value="Search">
          </div>
        </div>
      </form>
    </div>
  </div>

  {{content}}

  <div class="row">
    <div class="large-12 columns footer">
      <ul class="inline-list">
        <li><a href="//library.ucsf.edu/about">About the Library</a></li>
        <li><a href="//library.ucsf.edu/contact">Contact Us</a></li>
      </ul>
    </div>
  </div> 

  <!-- If IE9 or less, don't bother injecting content. Hours still accessible via link. -->
  <!--[if !IE]> -->
    <script src="https://apis.ucsf.edu/jsapi?library"></script>
    <script>  
      var getHours = function () {
        var failure = function () {
        };

        var success = function (result) {
          var prependHours = function (id, label, className, url) {
            var hours = locations[id];
            if (hours) {
              var hoursText = hours[0].text.replace(/[^\w\s:-]/,'');
              var a = $('<a>').attr('href', url).append(label + ': ' + hoursText);
              var li = $('<li>').append(a);
              li.addClass(className);
              $('#header-hours ul').prepend(li);
            }
          };

          var locations = result.locations;
          if (locations) {
            prependHours('missionBayHub', 'MB Hub', 'show-for-large-up', 'http://www.library.ucsf.edu/visit/missionhall');
            prependHours('missionBay', 'MB Library', 'show-for-large-up', 'http://www.library.ucsf.edu/visit/missionbay');
            prependHours('parnassus', 'Parnassus', 'show-for-medium-up', 'http://www.library.ucsf.edu/visit/parnassus');
            $('#header-hours ul').prepend('<li class="show-for-medium-up"><a href="http://www.library.ucsf.edu/visit/hours">Today:</a></li>');
          }
        };

        UCSF.Library.hours({}, success, failure);
      };

      if (window.addEventListener) {
        window.addEventListener('load', getHours, false);
      } else if (window.attachEvent) {
        window.attachEvent('onload', getHours);
      }
    </script>
  <!-- <![endif]-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-552286-44', 'auto');
    ga('send', 'pageview', {
      'page': location.pathname + location.search  + location.hash
    });
  </script>
  <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0014/1423.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
  <script>
    (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:7629, hjsv:3};
        c=b.createElement("script");c.async=1;
        c.src="//static.hotjar.com/c/hotjar-7629.js?sv=3";
        b.getElementsByTagName("head")[0].appendChild(c); 
    })(window,document);
  </script>
</body>
</html>
